body {
	margin: 5%;
	font-size: 200%;
	text-align: center;
}

.site_title {
	font-size: 200%;
}

#captcha_success {
	color: green;
}

#captcha_failure > h1 {
	color: red;
}

.smiley {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	font-size: 500%;
}

#captcha_failure > .smiley {
	color: red;
	text-decoration: blink;
}

#captcha_success > .smiley {
	color: green;
}
